<div class="container mt-5">
    <div class="form-container">
        <h2 class="mb-4 text-center">Reset Your Password</h2>
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
            <div class="form-group spacing">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" #adminName="ngModel"
                [(ngModel)]="currentAdmin.adminName" name="adminName" required
                [ngClass]="{'is-invalid': f.submitted && adminName.errors}">
                <div *ngIf="f.submitted && adminName.errors" class="invalid-feedback">
                    <div *ngIf="adminName.errors['required']">Username is mandatory</div>
                </div>            
            </div>
            <div class="form-group spacing">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" #adminPassword="ngModel"
                [(ngModel)]="currentAdmin.adminPassword" name="adminPassword" required
                [ngClass]="{'is-invalid': f.submitted && adminName.errors}" >
                <div *ngIf="f.submitted && adminPassword.errors" class="invalid-feedback">
                    <div *ngIf="adminPassword.errors['required']">Password is mandatory</div>
                </div>
            </div>
            <div class="form-group spacing">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm your password" 
                       #checkPassword="ngModel"
                       [(ngModel)]="confirmPassword" name="confirmPassword" required
                       [ngClass]="{'is-invalid': f.submitted && checkPassword.errors}">
                <div *ngIf="f.submitted && checkPassword.errors" class="invalid-feedback">
                    <div *ngIf="checkPassword.errors['required']">Confirmation is mandatory</div>
                </div>
            </div>            
            <div class="form-group position-relative">
                <button type="submit" class="btn btn-success btn-block position-absolute" style="left: 0;">Submit</button>
                <button type="button" class="btn btn-danger btn-block position-absolute" style="right: 0;" routerLink="/login">Cancel</button>
            </div>
            <div class="form-group">
                <div *ngIf="" class="alert alert-success" role="alert">
                    Your Password is Successfully Changed.
                </div>
                <div *ngIf="showAlert && isPresent && !isMatched" class="alert alert-danger" role="alert">
                    Your Password does not match.
                </div>
                <div *ngIf="showAlert && !isPresent" class="alert alert-danger" role="alert">
                    Admin does not exist.
                </div>
            </div>
        </form>
    </div>
</div>