<!-- <p>add-employee works!</p> -->

<div class="container-sm">
    <div class="col-md-6 offset-md-3 container-sm">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" class="row g-3 form-container container-sm">
          <div class="form-group col-md-6">
            <label><b>First Name:</b></label>
            <input type="text" class="form-control" id="fname"
                minLength="3" #fname="ngModel"
                [(ngModel)]="employee.fname" name="fname" required
                [ngClass]="{'is-invalid': f.submitted && fname.errors}" />

            <div *ngIf="f.submitted && fname.errors" class="invalid-feedback">
                <div *ngIf="fname.errors['required']">Entering first name is mandatory</div>
                <div *ngIf="fname.errors['minLength']">First name must have minimum of 3 characters</div>
            </div>
          </div>  

          <div class="form-group col-md-6">
            <label><b>Last Name:</b></label>
            <input type="text" class="form-control" id="lname"
            [(ngModel)]="employee.lname" name="lname" required
            #lname="ngModel" [ngClass]="{'is-invalid' : f.submitted && lname.errors}" />

            <div *ngIf="f.submitted && lname.errors" class="invalid-feedback">
                <div *ngIf="lname.errors['required']">Entering lastname is mandatory</div>
            </div>
          </div>

          <br><br>
          <div class="form-group">
            <label><b>Email:</b></label>
            <input type="text" class="form-control" id="email"
            [(ngModel)]="employee.email" name="email" required email
            #email="ngModel" [ngClass]="{'is-invalid' : f.submitted && email.invalid}" />

            <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                <div *ngIf="email.errors['required']">Entering email is mandatory</div>
                <div *ngIf="email.invalid">Incorrect email format</div>
            </div>
          </div>

          <br><br>

          <div class="form-group col-md-6">
            <label><b>Department:</b></label>
            <select class="form-select" id="department"
            [(ngModel)]="employee.department" name="department"
            #department="ngModel" required [ngClass]="{'is-invalid': f.submitted && department.invalid}">

                <div *ngIf="f.submitted && department.errors" class="invalid-feedback">
                    <div *ngIf="department.errors['required']">Department is required!</div>
                </div>

                <option selected disabled value="">Choose...</option>
                <option>Software</option>
                <option>Architect</option>
                <option>Testing</option>
                <option>Hardware</option>
            </select>
           </div>

        <br><br>

        <div class="form-group col-md-6">
            <label><b>Designation:</b></label>
            <select class="form-select" id="designation"
            [(ngModel)]="employee.designation" name="designation"
            #designation="ngModel" required [ngClass]="{'is-invalid': f.submitted && designation.invalid}">

                <div *ngIf="f.submitted && designation.errors" class="invalid-feedback">
                    <div *ngIf="designation.errors['required']">Designation is required!</div>
                </div>

                <option selected disabled value="">Select...</option>
                <option>Developer</option>
                <option>Program Manager</option>
                <option>Business Analyst</option>
                <option>Admin</option>
            </select>
        </div>

        <br><br>
          <div class="form-group">
            <label><b>Joining Date:</b></label>
            <input type="date" class="form-control" id="joiningDate"
            [(ngModel)]="employee.joiningDate" name="joiningDate" required
            #joiningDate="ngModel" [ngClass]="{'is-invalid':f.submitted && joiningDate.invalid}" />

            <div *ngIf="f.submitted && joiningDate.errors" class="invalid-feedback">
                <div *ngIf="joiningDate.errors['required']">Entering joiningDate is mandatory</div>
            </div>
          </div>

          <br><br><br><br>
          <div class="form-group col-md-6">
            <button class="btn btn-success full-width-button" type="submit" id="reg" [disabled]="">Submit</button>
          </div>
          <div class="col-md-6">
            <button routerLink="/show-all-employees" class="btn btn-danger full-width-button" type="button">Cancel</button>
          </div>
        </form>
    </div>
</div>