<body>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img style="width: 100vw;height: 610px;" src="../assets/slide2.jpg" alt="Second Slide - Show" />
            </div>
            <div class="carousel-caption">
                <h1 id="p1">Sony Team Project Presentation - Two</h1>
                <p>Employee Management System</p>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img style="width: 100vw;height: 610px;" src="../assets/slide1.jpg" alt="First Slide - Show" />
            </div>
            <div class="carousel-caption">
                <h1 id="p1">Sony Team Project Presentation - One</h1>
                <p>This project helps add/update/retrieve/get employee details and show them</p>
            </div>
        </ng-template>
    </ngb-carousel>

    <section id="skills" class="section-2 odd highlights image-right counter skills featured">
        <br><br>

        <div class="divMain container">
            <div class="container-c1 text">
                <div class="container-c1 text">
                    <h1 class="text">Technology Stack Used:</h1>
                    <br>
                    <ul class="category" id="t1">
                        <li>
                            Back-end Technology used:
                            <ul class="subcategory">
                                <li>Java 17</li>
                                <li>Spring Boot 3.3.3</li>
                            </ul>
                        </li>
                        <li>
                            Front-end Technology used:
                            <ul class="subcategory">
                                <li>Angular 18.2.0</li>
                                <li>Bootstrap 5.3.0</li>
                            </ul>
                        </li>
                        <li>
                            Database used:
                            <ul class="subcategory">
                                <li>MySQL 8.9.0</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="image">
                    <img src="../assets/about.webp" class="fit-image" alt="Project Snapshot" />
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <br/><br/>
        <div class="about-section">
            <h1>Website: About Page</h1>
            <br/>
            <p>Effectively manage and document the peritnent details and information of employees and ensure a thorough and accurate record-keeping system within the organizational framework</p>
        </div>
        <br/><br/>
        <h2 style="text-align:center">Our Team Informaiton</h2>
        <br/><br/>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="../assests/sony.jpg" alt="Team Member 1" style="width:100%"/>
                    <div class="container">
                        <h2>ABC XYZ(Name)</h2>
                        <p class="title">Software Engineer</p>
                        <p>Joined in 2024</p>
                        <p>Email Address: abc.xyz.gmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>