<nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <!-- Write home component later -->
             <a routerLink="home" routerLinkActive="active" class="nav-link" ><b>Home</b></a>
        </li>
        <li class="nav-item">
            <a routerLink="show-all-employees" routerLinkActive="active" class="nav-link" *ngIf="isValid"><b>Employees List</b></a>
            <!-- <a routerLink="login" routerLinkActive="active" class="nav-link" *ngIf="!isLoggedIn"><b>Employee List</b></a> -->
        </li>
        <li class="nav-item">
            <a routerLink="add-employee" routerLinkActive="active" class="nav-link" *ngIf="isValid"><b>Add Employees</b></a>
            <!-- <a routerLink="login" routerLinkActive="active" class="nav-link" *ngIf="!isLoggedIn"><b>Add Employees</b></a> -->

        </li>
    </ul>

    <ul class="navbar-nav ms-auto" style="margin-right: 4rem;">
        <li class="nav-item" >
            <a routerLink="login" routerLinkActive="active" class="nav-link" *ngIf="!isValid">
               <b>Admin Login</b> 
            </a>
        </li>
        
        <li class="logout-option" id="logout-option">
            <a routerLink="home" routerLinkActive="active" class="nav-link" (click)="isValid=false" *ngIf="isValid">
               <b>Logout</b> 
            </a>
        </li>
    </ul>
</nav>

<script>
    document.getElementById('loginLink').addEventListener('mouseover', function(){
        document.getElementById('logoutOption').innerText = 'Logout Option';
    });
    document.getElementById('loginLink').addEventListener('mouseout', function(){
        document.getElementById('logoutOption').innerText = 'LogOut';
    });
</script>
<router-outlet></router-outlet>