<div class="container">
    <h1>Employee Details</h1>
    <br>

    <div class="box">
        <div>
            <img src="../assests/download.jpg" />
        </div>
    </div>

    <table class="table table-striped border-dark">
        <thead class="table-dark">
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>First Name:</b></td>
                <td><b>{{employee.fname}}</b></td>
            </tr>
            <tr>
                <td><b>Last Name:</b></td>
                <td><b>{{employee.lname}}</b></td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td><b>{{employee.email}}</b></td>
            </tr>
            <tr>
                <td><b>Salary:</b></td>
                <td><b>{{employee.salary}}</b></td>
            </tr>
            <tr>
                <td><b>Department:</b></td>
                <td><b>{{employee.department}}</b></td>
            </tr>
            <tr>
                <td><b>Designation:</b></td>
                <td><b>{{employee.designation}}</b></td>
            </tr>
            <tr>
                <td><b>Joining Date:</b></td>
                <td><b>{{employee.joiningDate}}</b></td>
            </tr>
        </tbody>
    </table>

    <a routerLink="/updating-by-id/{{employee.id}}" id="btn1" class="btn btn-secondary">Update Details</a>
    <a routerLink="/show-all-employees" id="btn2" class="btn btn-danger">Back</a>
</div>